<%- include('partials/header.ejs') %>
<main>
    <div class="main-container">
        <%if(locals.reading) {%>
            <div class="left-side">
                <div class="currently-reading">
                    <!-- only the most recent books will be here -->
                    <!-- look for the styles that have similar fonts and group them and do it in css together-->
                    <form action="/single" method="post">
                        <input name="single-id" type="hidden" value="<%= reading.id %>">
                        <h2 class="clickable-single-book">Currently Reading</h2>
                        <img class="clickable-single-book book-thumbnail" src="<%= reading.volumeInfo.imageLinks? reading.volumeInfo.imageLinks.thumbnail: `https://openlibrary.org/images/icons/avatar_book-sm.png` %>">
                        <p>
                            <span style="font-family: Arial, sans-serif; font-size: 1.2rem;" class="clickable-single-book"><strong><%= reading.volumeInfo.title%></strong></span>
                            <span style="font-family: Arial, sans-serif;"><%= reading.volumeInfo.averageRating? reading.volumeInfo.averageRating: "not rated" %></span>
                        </p>
                    </form>
                    <p style="font-family: Arial, sans-serif; font-size: 1.2rem;">By <%= reading.volumeInfo.authors? reading.volumeInfo.authors.join(', '): "Unknown Author" %></p>
                    <p style="font-family: Arial, sans-serif;"><%= reading.volumeInfo.pageCount %> pages</p>
                    <p style="font-family: Arial, sans-serif; font-size: 1.12rem;"><%- reading.volumeInfo.description %></p>
                    <!-- image in the left, and the other info on the right -->
                    <div class="current-buttons-container">
                        <form action="/update-list" method="post">
                            <input name="formLocation" value="index" type="hidden">
                            <input type="hidden" name="selected-id" value="<%= reading.id %>">
                            <button class="current-buttons finished-button" name="clicked-result" value="read">Finished</button>
                            <button class="current-buttons not-reading" name="clicked-result" value="notReading">Not Reading</button> <!--maybe replace them with some signs-->
                        </form>
                    </div>
                </div>
                <div class="recommendations">
                    <!-- We are gonna have a ejs that will loop through the array that we will get from the server side ( maybe we will use grid to style it) -->
                    <h2>Recommendations</h2>
                    <%if(locals.recommendation) {%>
                        <form action="/single" method="post">
                            <%recommendation.forEach(rec=> {%>
                                <input name="single-id" type="hidden" value="<%= rec.id %>">
                                <img class="clickable-single-book" src="<%= rec.volumeInfo.imageLinks? rec.volumeInfo.imageLinks.thumbnail: `https://openlibrary.org/images/icons/avatar_book-sm.png` %>" >
                                <p class="clickable-single-book"><%= rec.volumeInfo.title %></p> <!--title-->
                                <p><%= rec.volumeInfo.authors.join(', ') %></p> <!--authors-->
                            <%})%>
                        </form>
                    <%}%>
                </div>
            <%}%>
        </div>
        <div class="genre">
            <h2>Explore Genres</h2>
            <!-- we will use a loop to go thru the array I will send -->
             <%for(let i = 0; i < categories.length; i++) {%>
                <form class="genre-button-form" action="/" method="post">
                    <button data-id="<%= categories[i] %>" class="genre-button" name="category" type="submit" value="<%= categories[i] %>"><%= categories[i] %></button>
                </form>
             <%}%>
             <!-- I     am gonna through the genres the user is reading and place them here, put them in the array using shift first -->
            <h2>Recommended <span data-id="random-genre"><%= category %></span></h2> <!--maybe use jquery and inner html to place the specfic button selected genre-->
            <%if(locals.items) {%>
                <%items.forEach(item=> {%>
                    <form style="display: inline-block;" action="/single" method="post">
                        <div class="genre-recommended-book">
                            <input name="single-id" type="hidden" value="<%= item.id %>">
                            <img style="border-radius: 5px;" class="clickable-single-book" src="<%= item.volumeInfo.imageLinks? item.volumeInfo.imageLinks.thumbnail: `https://openlibrary.org/images/icons/avatar_book-sm.png` %>">
                            <p class="clickable-single-book"><strong><%= item.volumeInfo.title %></strong></p> <!--title-->
                            <p>By <%= item.volumeInfo.authors? item.volumeInfo.authors.join(", "): "Unknown Author" %></p> <!--authors-->
                        </div>
                    </form>
                <%})%>
            <%}%>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>