<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="styles/profile.css">
<main>
    <div class="container">
        <div class="personal-information">
            <img src="<%= data.profilePic %>" alt="User Avatar">
            <div>
                <p style="font-family: Arial, sans-serif; font-size: 2rem; padding: none;"><strong>Yanet Geleta</strong></p>
                <p style="color: grey;"> <strong><%= data.books %></strong> books</p>
            </div>
        </div>
        <span>
            <nav>
                <form action="/profile" method="post">
                    <button id="toReadBtn" type="submit" name="profileList" value="wantToRead">Want to Read</button>
                    <button id="readingBtn" type="submit" name="profileList" value="reading">Reading</button>
                    <button id="readBtn" type="submit" name="profileList" value="read">Read</button>
                    <button id="recBtn" type="submit" name="profileList" value="recommendation">Recommendations</button>
                </form>
            </nav>
        </span>
        <input data-id="display-list" type="hidden" value="<%= data.listName %>">
        <!-- needed it for styling the buttons -->
        <hr>
        <!-- <div style="width: 100%;" class="my-books"> -->
            <% const listItems = data.list; %>
            <%for(let i = 0; i < listItems.length; i++) {%>
                <form  action="/single" method="post">
                    <% let j = i %>
                    <% let authors = [listItems[i].name] %>
                    <% while(listItems[j].book_id === listItems[j + 1].book_id) {%>
                        <% authors.push(listItems[j + 1].name) %>
                    <% } %>
                    <div class="profile-books">
                        <div>
                            <input type="hidden" value="<%= listItems[i].book_id %>" name="single-id">
                            <p style="color: rgb(7, 127, 207);"><%= data.listName %></p>
                            <p style="font-size: 1.4em; font-weight: bold;" class="clickable-single-book"><%= listItems[i].title %></p>
                            <p style="color: grey"><%= listItems[i].author_id? authors.join(", "): "Unknown Author" %></p>
                            <button class="on-display-button" >✓ <%= data.listName %></button>
                        </div>
                        <img class="clickable-single-book" src="<%= listItems[i].image_link? listItems[i].image_link: `https://openlibrary.org/images/icons/avatar_book-sm.png` %>">
                    </div>
                </form>
                <hr>
            <%}%>
        <!-- </div> -->
    </div>
</main>
<%- include('partials/footer.ejs') %>