<%- include('partials/header.ejs') %>
<link rel="stylesheet"  href="styles/search.css">
<main>
    <div class="container">
        <form method="POST" action="/search"> 
            <input name="searchValue" type="search" aria-label="Search" value="<%= searchInput %>">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
        <h2>Search Results</h2>
        <div class="search-results-container">
            <%if(locals.values) {%>
                <%values.forEach((value)=> {%>
                    <span class="search-book">
                        <form style="width: 100%; background-color: aqua;" action="/single" method="post">
                                <input name="single-id" type="hidden" value="<%= value.id %>">
                                <img class="clickable-single-book" src="<%= value.volumeInfo.imageLinks? value.volumeInfo.imageLinks.thumbnail: `https://openlibrary.org/images/icons/avatar_book-sm.png` %>">
                                <div class="search-title-author">
                                    <p style="display: block;" class="clickable-single-book"><%=value.volumeInfo.title%></p>
                                    <p>by <%= value.volumeInfo.authors? value.volumeInfo.authors.join(", "): "Unknown Author"%></p>
                                </div>
                                <form id="select-list" style="position: relative; right: .5em;" action="/update-list" method="post">
                                    <select name="clicked-result" onchange="this.form.submit()">
                                        <option value="" disabled selected>+ Add to list</option>
                                        <option value="wantToRead">Want to Read</option>
                                        <option value="reading">Reading</option>
                                        <option value="read">Read</option>
                                    </select>
                                    <input name="selected-id" value="<%= value.id %>" type="hidden">
                                    <!-- <input name="redirectTo" value="<%#= redirectTo %>" type="hidden" > -->
                                    <input name="searchValue" value="<%= searchInput %>" type="hidden" >
                                    <input name="formLocation" value="search" type="hidden">
                                </form> 
                        </form>
                    </span>
                <%})%>
            <%}%>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>