<%- include('partials/header.ejs') %>
<link rel="stylesheet"  href="styles/search.css">
<main>
    <div class="container">
        <form method="POST" action="/search"> 
            <input id="search-input" name="searchValue" type="search" aria-label="Search" value="<%= searchInput %>">
        </form>
        <h2 id="search-heading">Search Results</h2>
        <div class="search-results-container">
            <%if(locals.values) {%>
                <%values.forEach((value)=> {%>
                    <span class="search-book">
                        <form id="book-info-form" style="width: 100%; padding: .25em;" action="/single" method="post">
                                <input name="single-id" type="hidden" value="<%= value.id %>">
                                <img class="clickable-single-book" src="<%= value.volumeInfo.imageLinks? value.volumeInfo.imageLinks.thumbnail: `https://openlibrary.org/images/icons/avatar_book-sm.png` %>">
                                <div class="search-title-author">
                                    <p id="search-book-title" class="clickable-single-book"><strong><%=value.volumeInfo.title%></strong></p>
                                    <p id="search-book-author">by <%= value.volumeInfo.authors? value.volumeInfo.authors.join(", "): "Unknown Author"%></p>
                                </div>
                        </form>
                        <form id="list-form" action="/update-list" method="post">
                            <select name="clicked-result" onchange="this.form.submit()">
                                <option value="" disabled selected>+ Add to list</option>
                                <option value="wantToRead">Want to Read</option>
                                <option value="reading">Reading</option>
                                <option value="read">Read</option>
                            </select>
                            <input name="selected-id" value="<%= value.id %>" type="hidden">
                            <input name="searchValue" value="<%= searchInput %>" type="hidden" >
                            <input name="formLocation" value="search" type="hidden">
                        </form>
                    </span>
                <%})%>
            <%}%>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>